.table_produc{
    margin-top: 2rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--shadow);
    border-collapse: collapse;
    text-align: center;
}

.cnt-tabla{
    overflow: auto hidden;
}

.thead{
    font-size: 1;
    text-transform: uppercase;
}

.material{
    min-width: 180px;

}

.table__column{
    padding: 1.2rem 0.8rem;
    border-bottom: 1px solid var(--color2);
}

.table__column--modif{
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}

tr:nth-child(odd){
    background-color: var(--color4);
}

th:last-of-type{
    max-width: 100px;
}

tr:hover{
    background-color: var(--color5);
}

.new-product__btn{
    text-decoration: none;
    display: block;
    background: var(--color3);
    color: var(--color1);
    font-size: 0.8rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.new-product__btn:hover{
    background-color: var(--color2);
}

td{
    padding: 0.5rem;
}

.img-product-td{
    width: 120px;/*180*/
    height: 100px; /*160*/
    object-fit: cover;
}

.table__btn{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.icon{
    color: var(--color3);
    font-size: 1.2rem;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.icon-edit:hover{
    color: var(--color2);
}

.btn-delete{
    background: transparent;
    border: none;
    cursor: pointer;
}

.icon-delete:hover{
    color: var(--invalido);
}

@media screen and (max-width:780px) {

    .img-product-td{
        width: 100px;
        height: 80px;
    }
 }

 @media screen and (max-width:320px) {

    .img-product-td{
        width: 75px;
        height: 55px;
    }
 }