.footer{
    background-color: var(--fondo-obscuro);
    padding: 0.5rem 20px;
    color: var(--color1);
    text-align: center;
}

.footer__contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo{
    width: 100px;
    margin-right: 1rem;
}

.footer-logo__img{
    width: 70px;
    padding-left: 25px;
}

@media screen and (max-width: 780px) {
    .footer__contenedor{
        flex-direction: column;
    }

    .degradado{
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255,0.3);
    }
}